body {
    background-color: #000000;
    color: #f0f0f0;
    text-align: center;
    padding: 50px;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
     background-image: url('../images/start.jpeg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

.crystal-container {
    position: relative;
    display: inline-block;
    left: 0;
}

#magicBall {
    cursor: pointer;
    width: 300px;
    border-radius: 0%;
    z-index: 1;
}

#ballMessage {
    position: absolute;
    top: 670px;
    left: 380px;
    transform: translate(-50%, -50%);
    width: 220px;
    padding: 12px;
    font-size: 30px;
    text-align: center;
    color: #000000;
    font-weight: bold;
    pointer-events: none;
    line-height: 1.4;
    font-style: italic;
}
/*nav bar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-left img {
  height: 50px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;  /* Adds space between icons */
}

.nav-right a {
  display: inline-block;
}

.nav-icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.nav-icon:hover {
  transform: scale(1.15);
}

/* To avoid content getting hidden behind the fixed navbar */
body {
  padding-top: 70px;
}