<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Doodleverse</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ripple.css') }}" />
</head>
<body>
  <nav class="navbar">
    <div class="nav-left">
      <div class="nav-item">
        <a href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename='images/witch.png') }}" alt="icon" class="responsive-img" />
        </a>
        <span class="tooltip-text">Home</span>
      </div>
    </div>
    <div class="nav-right">
      <div class="nav-item">
        <a href="{{ url_for('ripple') }}">
          <img src="{{ url_for('static', filename='images/galaxy.png') }}" alt="Paint" class="nav-icon" />
        </a>
        <span class="tooltip-text">Paint</span>
      </div>
      <div class="nav-item">
        <a href="{{ url_for('crystal') }}">
          <img src="{{ url_for('static', filename='images/crystal-ball.png') }}" alt="Crystal" class="nav-icon" />
        </a>
        <span class="tooltip-text">Crystal Ball</span>
      </div>
      <div class="nav-item">
        <a href="{{ url_for('fortune') }}">
          <img src="{{ url_for('static', filename='images/fornav.png') }}" alt="Fortune" class="nav-icon" />
        </a>
        <span class="tooltip-text">Fortune Cookie</span>
      </div>
      <div class="nav-item">
        <a href="{{ url_for('meditation') }}">
          <img src="{{ url_for('static', filename='images/relaxed.png') }}" alt="Meditation" class="nav-icon" />
        </a>
        <span class="tooltip-text">Calm Sounds</span>
      </div>
    </div>
  </nav>

  <div class="bg-image"></div>
  <canvas id="paintCanvas"></canvas>
  <div class="controls-wrapper">
    <div class="color-palette">
      <div class="color" style="background-color: rgba(255, 0, 0, 0.3);" data-color="rgba(255, 0, 0, 0.3)"></div>
      <div class="color" style="background-color: rgba(0, 0, 255, 0.3);" data-color="rgba(0, 0, 255, 0.3)"></div>
      <div class="color" style="background-color: rgba(0, 255, 0, 0.3);" data-color="rgba(0, 255, 0, 0.3)"></div>
      <div class="color" style="background-color: rgba(255, 255, 0, 0.3);" data-color="rgba(255, 255, 0, 0.3)"></div>
      <div class="color" style="background-color: rgba(255, 255, 255, 0.3);" data-color="rgba(255, 255, 255, 0.3)"></div>
      <div class="eraser" title="Eraser"></div>
    </div>
    <div class="reset" title="Reset"></div>
    <button id="downloadBtn">Download</button>
  </div>

  <audio id="bgAudio" src="{{ url_for('static', filename='sounds/space.mp3') }}" autoplay loop></audio>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
  <script src="{{ url_for('static', filename='js/ripple.js') }}"></script>
</body>
</html>
