<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnakeMania</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/snake.css')}}">
</head>
<body>
    <div class="body">
        <div id="scoreBox">Score: 0</div>
        <div id="hiscoreBox">HiScore: 0</div>
        <div id="board"></div>
    </div>
    <a href="{{ url_for('next_verse', current=current_file, r=random()) }}"
   class="hero-btn"
   style="position: fixed; bottom: 20px; right: 20px; z-index: 10000;">
  Next Verse
</a>

<!-- Transition Overlay -->
<div id="transition-overlay">
  <div id="typewriter-text"></div>
</div>

</body>
<script src="{{url_for('static',filename='js/snake.js')}}"></script>
</html>